.app {
  background-color: burlywood;
}
Button {
  margin-right: 5px;
}
.rightJustify {
  text-align: right;
}
.centerText {
  text-align: center;
}
.smallPad {
  padding: 20px;
}
.highlight {
  font-family: cursive;
  font-weight: bold;
  color: aqua;
}
.bold {
  font-weight: bold;
}